# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Secrets
.env
.env.*
secrets.yaml
secret.yaml

# Java
target/
*.jar

# Node.js
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
